.container {
  width: 100%;
  max-width: var(--game-max-width);

  display: flex;
  flex-direction: column;

  color: var(--color-tone-1);
  font-size: 14px;
  font-family: var(--instruction-content-font-family);
}

.container p {
  margin-bottom: 0;
}

.exampleContainer {
  margin-top: 14px;
  padding-bottom: 24px;

  border-top: 1px solid var(--color-tone-4);
  border-bottom: 1px solid var(--color-tone-4);
}

.tileGroup {
  margin-top: 1.5rem;
  display: flex;
}

.tileContainer {
  width: 40px;
  height: 40px;
  margin-right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--color-tone-3);
  line-height: 2rem;

  font-size: 2rem;
  font-weight: 700;
  font-family: var(--instruction-content-font-family);
  text-transform: uppercase;
}

.tileContainer[data-state=correct] {
  color: var(--tile-text-color);
  border-color: var(--color-correct);
  background-color: var(--color-correct);
}

.tileContainer[data-state=present] {
  color: var(--tile-text-color);
  border-color: var(--color-present);
  background-color: var(--color-present);
}

.tileContainer[data-state=absent] {
  color: var(--tile-text-color);
  border-color: var(--color-absent);
  background-color: var(--color-absent);
}

.tileContainer[data-animation=flip-in-out] {
  animation: FlipInOut 500ms ease-in-out;
}

@keyframes FlipInOut {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}