.container {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.boardWrapper {
  width: 350px;
  height: 420px;
  padding: 10px;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 5px;
}

@media (max-height: 670px) {
  .boardWrapper {
    height: 100%;
  }
}