.closeIcon {
  position: absolute;
  cursor: pointer;
  user-select: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .closeIcon {
    padding: 0 16px;
  }
}