@font-face {
  font-family: "NYTKarnakCondensed";
  font-weight: 700;
  font-display: block;
  src: url(/public/fonts/karnakcondensed-normal-700.woff2) format('woff2');
}

@font-face {
  font-family: "NYTFranklin-500";
  font-weight: 500;
  font-display: swap;
  src: url(/public/fonts/franklin-normal-500.woff2) format('woff2');
}

@font-face {
  font-family: "NYTFranklin-700";
  font-weight: 700;
  font-display: swap;
  src: url(/public/fonts/franklin-normal-700.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  overflow-y: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* base color */
:root {
  --color-tone-1: #000000;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --color-nav-hover: #f4f4f4;
  --color-background: var(--color-tone-7);
  --opacity-50: rgba(255, 255, 255, 0.5);
}

/* evaluation color */
:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --orange: #f5793a;
  --blue: #85c0f9;
  --white: #ffffff;

  --color-correct: var(--green);
  --color-present: var(--yellow);
  --color-absent: var(--color-tone-2);
}

/* App base */
:root {
  --header-height: 50px;
  --game-max-width: 500px;
  --font-family-normal: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

/* z-index */
:root {
  --error-z-index: 500;
  --toast-z-index: 1000;
  --modal-z-index: 2000;
  --page-z-index: 3000;
  --system-toast-z-index: 4000;
}

/* modal */
:root {
  --modal-content-bg: var(--color-tone-7);
  --modal-more-text-font-family: 'NYTFranklin-700';
  --modal-nav-item-font-family: 'NYTFranklin-500';
}

/* Nav Modal Icon URLs */
:root {
  --spelling-bee: url('../public/images/SpellingBee-Icon-Normalized.svg');
  --daily: url('../public/images/Crossword-Icon-Normalized.svg');
  --mini: url('../public/images/Mini-Icon-Normalized.svg');
  --wordlebot: url('../public/images/WordleBot-Icon-Normalized.svg');
  --chess: url('../public/images/Chess-Icon-Normalized.svg');

  --nyt: url('../public/images/NYT-Icon-Normalized.svg');
  --cooking: url('../public/images/Cooking-Icon-Normalized.svg');
  --wirecutter: url('../public/images/Wirecutter-Icon-Normalized.svg');
  --athletic: url('../public/images/Athletic-Icon-Normalized.svg');
}

/* instruction */
:root {
  --instruction-content-font-family: var(--font-family-normal);
}

/* statistic */
:root {
  --statistic-content-font-family: var(--font-family-normal);
  --promo-icon-height: 40px;
  --promo-icon-width: 40px;
  --promo-icon-padding: 0px;
  --promo-text-font-family: 'NYTFranklin-500';
  --promo-cta-font-family: 'NYTFranklin-700';
  --svg-arrow-fill: var(--color-tone-7);
  --svg-arrow-stroke: var(--color-tone-1);
}

/* setting */
:root {
  --setting-content-font-family: var(--font-family-normal);
}

/* tile */
:root {
  --tile-text-color: var(--color-tone-7);
  --tile-font-family: var(--font-family-normal);
}

/* keyboard & key */
:root {
  --keyboard-height: 200px;
  --keyboard-font-family: var(--font-family-normal);
  
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-7);
  --key-bg: var(--color-tone-4);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
}

/* toast */
:root {
  --toast-font-family: var(--font-family-normal);
}

@media (prefers-color-scheme: dark) {}